@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 128, 128, 128;
}

body {
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-rgb)));
  min-height: 100vh;
}